name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-package:
    name: "Build Package"
    runs-on: macos-12
    strategy:
      fail-fast: false
      matrix:
        xcode:
        - '13.2.1' # Swift 5.5
        - '13.4.1' # Swift 5.6
        - '14.0.1' # Swift 5.7
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
        with:
          xcode: ${{ matrix.xcode }}
      - name: Build Package
        run: bundle exec rake build:package:all

  build-example:
    name: "Build Example App"
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
      - name: Build Example
        run: bundle exec rake build:example:all

  test-package:
    name: "Test Package"
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: 'true'
      - uses: ./.github/actions/setup
      - name: Test Package
        run: bundle exec rake test:package
      - name: Process test artifacts
        if: always()
        run: bundle exec rake test:process
      - name: Upload artifacts
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: TestArtifacts
          path: Tests/Artifacts

  cocoapod:
    name: "Lint CocoaPods podspec"
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
        with:
          install-mint: false
      - name: Lint CocoaPod Podspec
        run: bundle exec rake lint:podspec

  spm:
    name: "Test Swift Package Manager support"
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
        with:
          install-mint: true
      - name: Test Swift Package Manager support
        run: bundle exec rake test:spm

  carthage:
    name: "Test Carthage support"
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
        with:
          install-mint: true
          install-carthage: true
      - name: Test Carthage support
        run: bundle exec rake test:carthage

  swiftlint:
    name: "Lint Swift"
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
      - name: Lint Swift
        run: bundle exec rake lint:swift
