name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-package:
    name: "Build Package"
    runs-on: macos-15
    strategy:
      fail-fast: false
      matrix:
        xcode:
        - '16.4' # Swift 6.1
        - '26.1.1' # Swift 6.2
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          xcode: ${{ matrix.xcode }}
      - name: Build Package
        run: bundle exec rake build:package:all


  build-example:
    name: "Build Example App"
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          xcode: '26.1.1' # Swift 6.2
      - name: Build Example
        run: bundle exec rake build:example:all

  test-package:
    name: "Test Package"
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          xcode: '16.4' # Swift 6.1
      - name: Test Package
        run: bundle exec rake test:package
      - name: Process test artifacts
        if: always()
        run: bundle exec rake test:process
      - name: Upload artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: TestArtifacts
          path: Tests/Artifacts

  emerge-upload:
    name: "Emerge Upload"
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - name: Build Package
        run: bundle exec rake emerge:upload
        env:
          EMERGE_API_TOKEN: ${{ secrets.EMERGE_API_TOKEN }}
          PR_NUMBER: ${{ github.event.number }}

  build-xcframework-minimum-supported-version:
    name: "Build XCFramework"
    runs-on: macos-15
    strategy:
      matrix:
        xcode:
          - '16.4' # Swift 6.1
    steps:
      - uses: actions/checkout@v4
      - uses: apple-actions/import-codesign-certs@v3
        continue-on-error: true
        with:
          p12-file-base64: ${{ secrets.SIGNING_CERTIFICATE_BASE_64 }}
          p12-password: ${{ secrets.SIGNING_CERTIFICATE_PASSWORD }}
      - uses: ./.github/actions/setup
        with:
          xcode: ${{ matrix.xcode }}
      - name: Build Dynamic XCFramework
        run: bundle exec rake build:xcframework\['dynamic'\]
      - name: Build Static XCFramework
        run: bundle exec rake build:xcframework\['static'\]
      - name: Upload XCFrameworks
        uses: actions/upload-artifact@v4
        with:
          name: BuildProducts
          path: .build/artifacts

  cocoapod:
    name: "Lint CocoaPods podspec"
    runs-on: macos-15
    strategy:
      matrix:
        xcode:
          - '16.4' # Swift 6.1
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          install-mint: false
          xcode: ${{ matrix.xcode }}
      - name: Lint CocoaPod Podspec
        run: bundle exec rake lint:podspec

  spm-xcode-15:
    name: "Test Swift Package Manager"
    runs-on: macos-15
    strategy:
      matrix:
        xcode:
        - '16.4' # Swift 6.1
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          install-mint: true
          xcode: ${{ matrix.xcode }}
      - name: Test Swift Package Manager support
        run: bundle exec rake test:spm

  carthage:
    name: "Test Carthage support"
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          install-mint: true
          install-carthage: true
          xcode: '26.1.1' # Swift 6.2
      - name: Test Carthage support
        run: bundle exec rake test:carthage

  swiftlint:
    name: "Lint Swift"
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - name: Lint Swift
        run: bundle exec rake lint:swift

  embedded-libraries:
    name: "Lint Embedded Libraries"
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - name: Lint Embedded Libraries
        run: bundle exec rake lint:EmbeddedLibraries
